

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    width:60%;
}
p{
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    font-size: 14px;
    margin: auto;
    width:60%;
    padding: 5px 10px;
}
th, td:first-child {
    background: #AFCDE7;
    color: black;
    padding: 5px 10px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td {
    background: #D8E6F3;
}
th:first-child, td:first-child {
    text-align: left;
}

label,
input[type=text] {
    display: inline-block;
    vertical-align: middle;
}
label {
    width: 20%;
}
input[type=text] {
    width: 29%;
}